.footer {
	position: absolute;
	bottom: 0;
	width: 100vw;
	height: 2rem;
	text-align: center;
	padding: 5px;
	background-color: var(--sage);
	color: var(--night);
}

@media (max-width: 600px) {
	.footer {
		font-size: 14px;
		text-align: left;
	}
}
