header {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: var(--glaucous);
}

/* div banner element */
.banner {
	display: flex;
	padding: 0 20px;
}

.banner-logoWrapper {
	text-align: center;
}

.logoWrapper-logo {
	border-radius: 50%;
	margin: 5px;
}

.logoWrapper-authorName {
	font-variant: small-caps;
	display: block;
	font-size: 14px;
}

.banner-title {
	/*font-family: "courier new", sans-serif;*/
	font-family: monospace;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 3em;
	width: 40em;
	display: flex;
	justify-content: center;
	align-self: center;
}

.title-accent {
	color: var(--eucalyptus);
}

/* navbar element */
.nav-list {
	list-style: none;
	background-color: var(--eucalyptus);
}

.nav-item {
	display: inline-flex;
	list-style: none;
}

.nav-link {
	top: 0;
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	color: var(--eerie-black);
	text-decoration-line: none;
}

.nav-link:hover {
	background-color: var(--glaucous);
}
