* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--eerie-black: #141810;
	--mint: #ddeee4;
	--glaucous: #677db7;
	--eucalyptus: #a5be9d;
}

html {
	background-color: var(--eerie-black);
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	font-family: verdana, sans-serif;
	font-size: 1em;
	color: var(--mint);
}

main {
	max-height: 35em;
	max-height: 20em;
}

h2 {
	text-align: center;
	margin: 15px 0;
}

/* About-Me Styles */
.bioContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: scroll;
}

/* Bio pic is responsive */
.bioContainer-pic {
	margin: 10px 0;
	max-width: 15%;
	max-height: 15%;
	border-radius: 50%;
}

/* Bio is responsive */
.bioContainer-bio {
	margin-top: 1.5%;
	max-height: 11em;
	max-width: 90%;
	text-align: left;
	overflow: scroll;
}

/*Previous-Work Styles*/
.resumeContainer {
	display: grid;
	grid-template-columns: 1fr 3fr;
	margin: 0 10px;
	gap: 10px;
}

.resumeCard--accentCard {
	grid-row: span 4;
}

.resumeCard-name {
	font-size: 2em;
}

.resumeCard-pic,
.resumeCard-name,
.resumeCard-position {
	text-align: center;
	width: 100%;
}

.resumeCard {
	gap: 50px;
	background-color: grey;
	border-radius: 10px;
	padding: 10px;
}

.resumeCard-title {
	border-bottom-width: 2px;
	border-bottom-color: green;
	border-bottom-style: solid;
	margin-bottom: 10px;
}

.resumeCard-section {
	display: grid;
	grid-template-columns: 1fr 5fr;
	padding-bottom: 15px;
	font-size: 1em;
}

.content-affiliations {
	padding-top: 5px;
	font-style: italic;
}

.content-date {
	grid-row: 1 / span 3;
	margin-right: 10px;
}

/* Projects Page */
.cardsContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: auto;
	min-height: 100%;
}

.projectCard {
	display: grid;
	height: 100%;
	margin: 10px;
	padding: 0.5rem;
}

.imgSection {
	max-height: 10em;
}

.projectDesc {
	margin: 20px;
}

.githublink {
	align-self: center;
	padding: 20px;
	background-color: var(--glaucous);
}

.projectImg {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.otherLinkIntro {
	text-align: end;
}

/* Form*/
/* Code from exercise 04-form 
Revamped this code for Exercise-02 hw3 */
form {
	padding: 25px 12px;
	margin: 0 auto;
	margin-top: 30px;
	border: 1px solid var(--glaucous);
	border-radius: 10px;
	max-width: 400px;
	max-height: 2em;
	width: 100%;
	min-height: 580px;
}

h2 {
	margin-bottom: 5px;
}

.form-instruction {
	margin-top: 0;
	color: var(--eucalyptus);
}

.form-box {
	display: flex;
	align-items: center;
	padding: 8px;
}

.formBox-label {
	font-weight: bold;
	width: 40%;
}

.formBox-input {
	display: inline-block;
	font-size: 14px;
	height: 25px;
	width: 40%;
	flex: 1;
	overflow: auto;
	border: 1px solid var(--eerie-black);
}
/*Box for the radio buttons*/
.form-pronounSet {
	display: inline-block;
	margin: 15px 0;
	padding: 0% 8px;
	border: 0;
	width: 100%;
}

/*Lengend of the radio buttons*/
.formSet-legend {
	font-weight: bold;
}

/* General form labels*/
.formSet-label {
	font-weight: normal;
	margin-top: 0.2em;
}

.formSet-gender {
	margin: 2px;
}

.form-buttonBox {
	text-align: center;
	width: 100%;
	height: 50px;
	margin-top: 10px;
}

.formBtn-submit,
.formBtn-reset {
	height: 100%;
	width: 100%;
	max-height: 40px;
	max-width: 49%;
	border: 1px solid var(--eucalyptus);
}

.formBtn-submit {
	background-color: var(--eucalyptus);
	color: var(--mint);
}

.formBtn-reset {
	background-color: var(--mint);
}

.formBtn-submit:hover {
	background-color: var(--glaucous);
}

.formBtn-reset:hover {
	background-color: var(--glaucous);
}

/* Required Astrisk Symbol*/
.req {
	font-weight: bolder;
	color: var(--glaucous);
}

/* Highlight Invalid Boxes */
.formBox-input:invalid:required,
.formSet-input:invalid:required {
	border: 1px solid var(--mint);
	box-shadow: 0 0 1px 1px var(--mint), inset 0 0 1px 1px var(--glaucous),
		0 0 3px 2px var(--glaucous);
}

/* Change values based on size of the screen */
@media (max-width: 375px) {
	.form-box {
		display: flex;
		flex-direction: column;
		align-items: start;
		padding: 0%;
	}
	.formBox-label,
	.formBox-input {
		width: 100%;
	}
}
