* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--eerie-black: #141810;
	--mint: #ddeee4;
	--glaucous: #677db7;
	--eucalyptus: #a5be9d;
}

html {
	background-color: var(--eerie-black);
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	font-family: verdana, sans-serif;
	font-size: 1em;
	color: var(--mint);
}

main {
	max-height: 35em;
	max-height: 20em;
}

h2 {
	text-align: center;
	margin: 15px 0;
}

/* About-Me Styles */
.bioContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: scroll;
}

/* Bio pic is responsive */
.bioContainer-pic {
	margin: 10px 0;
	max-width: 15%;
	max-height: 15%;
	border-radius: 50%;
}

/* Bio is responsive */
.bioContainer-bio {
	margin-top: 1.5%;
	max-height: 11em;
	max-width: 90%;
	text-align: left;
	overflow: scroll;
}

/*Previous-Work Styles*/
.resumeContainer {
	display: grid;
	grid-template-columns: 1fr 3fr;
	margin: 0 10px;
	gap: 10px;
}

.resumeCard--accentCard {
	grid-row: span 4;
}
