* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--licorice: #200e08;
	--mint: #ddeee4;
	--taupe-gray: #9a949a;
	--sage: #cfcb91;
	--melon: #e09d8c;
	--timberwolf: #e7ded9;
	--night: #0b0a0b;
	--black-olive: #1f271b;
	--raspberry-rose: #b5446e;
	--hunter-green: #43543b;
}

html {
	background-color: var(--night);
}

body {
	position: relative;
	min-height: 100vh;
	font-family: verdana, sans-serif;
	font-size: 1em;
	color: var(--mint);
}

main {
	padding-bottom: 2rem;
}

h2 {
	text-align: center;
	margin: 15px 0;
}

/*Home page Styles*/
.subHeading-homepage {
	display: block;
	margin: 0 auto;
	text-align: center;
	max-width: 50%;
	border-bottom-style: solid;
	border-bottom-color: var(--timberwolf);
	border-bottom-width: 5px;
	color: var(--melon);
}

.homeMessage {
	text-align: center;
	margin: 0 20%;
}

.main-homepage {
	margin: 10% 0;
	display: block;
	white-space: pre-line;
	background: linear-gradient(
		to right,
		var(--taupe-gray),
		var(--black-olive),
		var(--night) 70%
	);
	opacity: 0.75;
	color: var(--sage);
}

.background-pic {
	top: 0;
	left: 0;
}

/* About-Me Styles */
.bioContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* Bio pic is responsive */
.bioContainer-pic {
	margin: 10px 0;
	width: 30%;
	max-width: 240px;
	max-height: 15%;
	border-radius: 50%;
	border: 5px solid var(--sage);
}

/* Bio is responsive */
.bioContainer-bio {
	margin-top: 1.5%;
	padding: 10px;
	max-height: 20em;
	max-width: 90%;
	text-align: left;
	overflow-y: scroll;
	background-color: var(--black-olive);
}

/* ------ Previous-Work Styles ----- */
.resumeContainer {
	display: grid;
	grid-template-columns: 1fr 3fr;
	margin: 2px 10px;
	gap: 10px;
	max-height: 100%;
}

.resumeCard--accentCard {
	grid-row: span 4;
	background-color: var(--hunter-green);
	border: 3px solid var(--timberwolf);
}

.resumeCard-name {
	font-size: 2em;
}

.resumeCard-pic {
	border-radius: 5%;
	border: 2px solid var(--melon);
}

.resumeCard-position {
	padding-bottom: 10px;
	border-bottom: 2px solid var(--taupe-gray);
}

.resumeCard-pic,
.resumeCard-name,
.resumeCard-position {
	text-align: center;
	width: 100%;
	color: var(--mint);
}

.resumeCard {
	gap: 50px;
	border-radius: 10px;
	padding: 10px;
}

.resumeCard:not(.resumeCard--accentCard) {
	background-color: var(--taupe-gray);
	color: var(--night);
}

.resumeCard-title {
	border-bottom-width: 3px;
	border-bottom-color: var(--hunter-green);
	border-bottom-style: solid;
	margin-bottom: 10px;
}

.resumeCard-section {
	display: grid;
	grid-template-columns: 1fr 5fr;
	padding-bottom: 15px;
	font-size: 1em;
}

.content-affiliations {
	padding-top: 5px;
	font-style: italic;
}

.content-date {
	grid-row: 1 / span 3;
	margin-right: 10px;
}

/* -------- Projects Page ------ */
.cardsContainer {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
}

.projectCard {
	display: flex;
	min-width: 250px;
	flex: 1 1 0;
	flex-direction: column;
	justify-content: space-between;
	margin: 10px;
	padding: 0.5rem;
	background-color: var(--black-olive);
	border-radius: 10px;
}

.imgSection {
	margin-bottom: 10px;
	max-height: 10em;
}

.projectTitle {
	margin-bottom: 10px;
	border-bottom-style: solid;
	border-bottom-color: var(--melon);
	white-space: pre-line;
}

.githubLinkWrap {
	min-width: 100%;
	margin-top: 10px;
	text-align: center;
}

.githubLink {
	display: block;
	padding: 20px;
	margin: 0 auto;
	max-width: 15em;
	background-color: var(--sage);
	color: var(--night);
	border-color: var(--black-olive);
}

.projectImg {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.otherLinkIntro {
	margin-top: 20px;
}

.githubLink,
.otherLink {
	text-decoration: none;
}

.otherLink {
	display: block;
	text-align: center;
	min-width: 100%;
	padding: 10px 20px;
	color: var(--sage);
}

span {
	white-space: pre;
}

.githubLink:hover {
	background-color: var(--raspberry-rose);
}

.otherLink:hover {
	color: var(--raspberry-rose);
}

/* Form*/
/* Code from exercise 04-form 
Revamped this code for Exercise-02 hw3 */
form {
	padding: 25px 12px;
	margin: 0 auto;
	margin-top: 30px;
	border: 5px solid var(--black-olive);
	border-radius: 10px;
	max-width: 400px;
	max-height: 2em;
	width: 100%;
	min-height: 580px;
	background-color: var(--taupe-gray);
	color: var(--night);
}

.form-instruction {
	margin-top: 0;
	color: var(--black-olive);
}

.form-box {
	display: flex;
	align-items: center;
	padding: 8px;
}

.formBox-label {
	font-weight: bold;
	width: 40%;
}

.formBox-input {
	display: inline-block;
	font-size: 14px;
	height: 25px;
	width: 40%;
	flex: 1;
	overflow: auto;
	border: 1px solid var(--licorice);
	background-color: var(--timberwolf);
}
/*Box for the radio buttons*/
.form-pronounSet {
	display: inline-block;
	margin: 15px 0;
	padding: 0% 8px;
	border: 0;
	width: 100%;
}

/*Lengend of the radio buttons*/
.formSet-legend {
	font-weight: bold;
}

/* General form labels*/
.formSet-label {
	font-weight: normal;
	margin-top: 0.2em;
}

.formSet-gender {
	margin: 2px;
}

.form-buttonBox {
	text-align: center;
	width: 100%;
	height: 50px;
	margin-top: 10px;
}

.formBtn-submit,
.formBtn-reset {
	height: 100%;
	width: 100%;
	max-height: 40px;
	max-width: 49%;
	border: 1px solid var(--licorice);
}

.formBtn-submit {
	background-color: var(--hunter-green);
	color: var(--mint);
}

.formBtn-reset {
	background-color: var(--timberwolf);
}

.formBtn-submit:hover {
	background-color: var(--licorice);
}

.formBtn-reset:hover {
	background-color: var(--melon);
}

/* Required Astrisk Symbol*/
.req {
	font-weight: bolder;
	color: var(--raspberry-rose);
}

/* Highlight Invalid Boxes */
.formBox-input:invalid:required,
.formSet-input:invalid:required {
	border: 1px solid var(--raspberry-rose);
	box-shadow: 0 0 1px 1px var(--raspberry-rose),
		inset 0 0 1px 1px var(--raspberry-rose), 0 0 3px 2px var(--raspberry-rose);
}

/* Change values based on size of the screen */
@media (max-width: 375px) {
	.form-box {
		display: flex;
		flex-direction: column;
		align-items: start;
		padding: 0%;
	}
	.formBox-label,
	.formBox-input {
		width: 100%;
	}
}
